input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    line-height: 120%;
    border: solid 1px #aaa;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px;
    -moz-outline: none;
    outline: none;
    background-color: #eee;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    cursor: text;
}

    input:focus, textarea:focus {
        background: #ffe;
    }

    input[type=submit], input[type=reset], input[type=button], button {
        width: auto;
        display: inline-block;
        margin: 0 8px 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: solid 1px #aaa;
        padding: 8px 12px;
        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: -webkit-linear-gradient(#ddd, #ccc);
        background-image: -moz-linear-gradient(#ddd, #ccc);
        background-image: linear-gradient(#ddd, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd', EndColorStr='#cccccc');
        cursor: pointer;
    }

        input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus, button:focus {
            filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd', EndColorStr='#cccccc');
        }

a.button {
    display: inline-block;
    margin: 0 8px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #aaa;
    padding: 8px 12px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000 !important;
    text-decoration: none;
    background-image: -webkit-linear-gradient(#ddd, #ccc);
    background-image: -moz-linear-gradient(#ddd, #ccc);
    background-image: linear-gradient(#ddd, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd', EndColorStr='#cccccc');
    -moz-box-shadow: 0 1px 2px 0 #000;
    -webkit-box-shadow: 0 1px 2px 0 #000;
    box-shadow: 0 1px 2px 0 #000;
    cursor: pointer;
    -moz-opacity: 0.85;
    opacity: 0.85;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

    a.button:hover {
        -moz-opacity: 1;
        opacity: 1;
    }

    a.button:active {
        background-image: -webkit-linear-gradient(#ccc, #ddd);
        background-image: -moz-linear-gradient(#ccc, #ddd);
        background-image: linear-gradient(#ccc, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#cccccc', EndColorStr='#dddddd');
    }

a.green.progress.button {
    border: 0px none;
    color: #eee !important;
    -webkit-text-shadow: 1px 1px #333;
    text-shadow: 1px 1px #333;
    background-image: -webkit-linear-gradient(#0a0, #090);
    background-image: -moz-linear-gradient(#0a0, #090);
    background-image: linear-gradient(#0a0, #090);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#00aa00', EndColorStr='#009900');
}

    a.green.progress.button:active {
        color: #ee3 !important;
        background-image: -webkit-linear-gradient(#090, #0a0);
        background-image: -moz-linear-gradient(#090, #0a0);
        background-image: linear-gradient(#090, #0a0);
        filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#009900', EndColorStr='#00aa00');
    }

a.blue.progress.button {
    border: 0px none;
    color: #eee !important;
    -webkit-text-shadow: 1px 1px #333;
    text-shadow: 1px 1px #333;
    background-image: -webkit-linear-gradient(#0093f4, #007acc);
    background-image: -moz-linear-gradient(#0093f4, #007acc);
    background-image: linear-gradient(#0093f4, #007acc);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#0093f4', EndColorStr='#007acc');
}

    a.blue.progress.button:active {
        color: #ee3 !important;
        background-image: -webkit-linear-gradient(#007acc, #0093f4);
        background-image: -moz-linear-gradient(#007acc, #0093f4);
        background-image: linear-gradient(#007acc, #0093f4);
        filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#007acc', EndColorStr='#0093f4');
    }

a.regress.button {
    border: 0px none;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.25;
    color: #eee !important;
    -webkit-text-shadow: 1px 1px #333;
    text-shadow: 1px 1px #333;
    background-image: -webkit-linear-gradient(#c02020, #ac2a2a);
    background-image: -moz-linear-gradient(#c02020, #ac2a2a);
    background-image: linear-gradient(#c02020, #ac2a2a);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#c02020', EndColorStr='#ac2a2a');
}

    a.regress.button:active {
        color: #ee3 !important;
        background-image: -webkit-linear-gradient(#ac2a2a, #c02020);
        background-image: -moz-linear-gradient(#ac2a2a, #c02020);
        background-image: linear-gradient(#ac2a2a, #c02020);
        filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#ac2a2a', EndColorStr='#c02020');
    }

input.placeholder, textarea.placeholder {
    color: #999;
}

form .field {
    margin: 1em 0;
}
