@model dynamic

@{
    ViewBag.Title = "Dan Ludwig";
}

<section>
    <header>
        <h1>Your operation may destabilize my runtime</h1>
        <h2 class="">August 24 2012</h2>
    </header>
    <article>
        <p>
            I've been loading up on all of the latest Microsoft goodies -- .NET 4.5, Visual Studio 2012 (evaluation version), IIS 8.0, and the most recent Azure 1.7 SDK.
        </p>
    </article>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
This is the bottom of my content
