<ul class="group">
    <li>
        <a href="@Url.Action(MVC.Home.Index())/">
            <img alt="danludwig icon" src="/images/logos/danludwig.png">
            <span class="text">danludwig</span>
        </a>
    </li>
    <li>
        <a href="http://github.com/danludwig" target="_blank">
            <img alt="github icon" src="/images/logos/github.png">
            <span class="text">@@github</span>
        </a>
    </li>
    <li>
        <a href="http://nuget.org/profiles/danludwig" target="_blank">
            <img alt="nuget icon" src="/images/logos/nuget.png">
            <span class="text">@@nuget</span>
        </a>
    </li>
    <li>
        <a href="http://stackoverflow.com/users/304832/danludwig" target="_blank">
            <img alt="stackoverflow icon" src="/images/logos/stackoverflow.png">
            <span class="text">@@stackoverflow</span>
        </a>
    </li>
    <li>
        <a href="http://www.linkedin.com/in/danieljonathanludwig" target="_blank">
            <img alt="linkedin icon" src="/images/logos/linkedin.png">
            <span class="text">@@linkedin</span>
        </a>
    </li>
    <li>
        <a href="http://live.xbox.com/en-US/Profile?gamertag=WeLoseItUrFault" target="_blank">
            <img alt="xbox icon" src="/images/logos/xbox.png">
            <span class="text">@@xbox</span>
        </a>
    </li>
    <li>
        <a href="http://www.facebook.com/dan.ludwig.127" target="_blank">
            <img alt="" src="/images/logos/facebook.png">
            <span class="text">@@facebook</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Contact.Index())/">
            <img alt="" src="/images/logos/gmail.png">
            <span class="text">@@danludwig</span>
        </a>
    </li>
</ul>
<div class="bg-stripe">
    stripe
</div>
