<nav class="content">
    <ul>
        <li><a href="@Url.Action(MVC.Home.Index())" data-bind="locationHref: 'current'">
            <div class="arrow"></div>
            <span class="text">Home</span>
        </a></li>
        <li><a href="#" data-bind="locationHref: 'current'">
            <div class="arrow"></div>
            <span class="text">NGeo</span>
        </a></li>
        <li><a href="@Url.Action(MVC.LinkedN.Index())/" data-bind="locationHref: 'current'">
            <div class="arrow "></div>
            <span class="text">LinkedN</span>
        </a></li>
        <li><a href="@Url.Action(MVC.Contact.Index())/" data-bind="locationHref: 'current'">
            <div class="arrow"></div>
            <span class="text">Contact me</span>
        </a></li>
    </ul>
</nav>
