<nav class="content">
    <ul>
        <li><a href="@Url.Action(MVC.Home.Index())" class="group" data-bind="locationHref: 'current'">
            <div class="arrow float-left"></div>
            <span class="text float-left">Home</span>
        </a></li>
        <li><a href="#" class="group" data-bind="locationHref: 'current'">
            <div class="arrow float-left"></div>
            <span class="text float-left">NGeo</span>
        </a></li>
        <li><a href="@Url.Action(MVC.LinkedN.Index())/" class="group" data-bind="locationHref: 'current'">
            <div class="arrow float-left"></div>
            <span class="text float-left">LinkedN</span>
        </a></li>
        <li><a href="@Url.Action(MVC.Contact.Index())/" class="group" data-bind="locationHref: 'current'">
            <div class="arrow float-left"></div>
            <span class="text float-left">Contact me</span>
        </a></li>
    </ul>
</nav>
