body > footer {
    position: absolute;
    bottom: -2px;
    height: 22px;
    padding: 0;
    width: 100%;
    background: #333;
    z-index: -1;
    > .content {
        @include border-box;
        @include center-margin;
        @include font-height(11px, 20px);
        color: #ddd;
        @include font-ms;
    }
}
