body #main {
    @include center-margin;
    @include group;
    /* look out for footer height */
    padding-bottom: 80px;
    > .content {
        float: left;
        @include border-box;
        width: 700px;
        margin: 0;
        padding: 0 10px 20px 0;
        #slider {
            position: relative;
            overflow: hidden;
            > .frames {
                 width: 10000px;
                 > .frame {
                    float: left;
                    width: 690px;
                    margin-right: 20px;
                 }
            }
        }
        a {
            color: $blue-vs;
            &:hover {
                text-decoration: none;
            }
        }
        h1 {
            margin: 16px 0;
            font-size: 26px;
            color: $blue-vs;
        }
        p {
            @include font-height(16px, 1.75);
            margin: 1em 0;
        }
        footer {
            padding-bottom: 20px;
        }
    }
}
