form.contact textarea#message {
	height: 60px;
    min-height: 60px;
	max-height: 364px;
	resize: none;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}
form.contact textarea#message:focus {
	height: 80px;
    min-height: 80px;
}