form.contact .message.field {
  min-height: 110px; }

form.contact textarea#message {
  height: 60px;
  min-height: 60px;
  max-height: 364px;
  resize: none;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms; }

form.contact textarea#message:focus {
  min-height: 80px; }

#message_chars {
  font-size: 14px;
  font-style: italic; }
  #message_chars.invalid {
    color: #c00; }

form.contact .recaptcha.field .validation {
  min-height: 40px; }

#preview .field {
  content: "";
  clear: both;
  display: table; }
  #preview .field label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 140px;
    padding: 0 10px 0 0;
    float: left;
    font-weight: bold;
    line-height: 1.25; }
    #preview .field label:after {
      content: ':'; }
  #preview .field .input {
    float: left;
    width: 550px; }

