@import 'bootstrap';

form.contact textarea#message {
	height: 60px;
    min-height: 60px;
	max-height: 364px;
	resize: none;
    @include transition(all, 200ms);
}
form.contact textarea#message:focus {
    min-height: 80px;
}
#message_chars {
    font-size: 14px;
    font-style: italic;
    &.invalid {
        color: #c00;
    }
}
#preview {
    .field {
        @include group;
        label {
            @include border-box;
            display: inline-block;
            width: 140px;
            padding: 0 10px 0 0;
            float: left;
            font-weight: bold;
            line-height: 1.25;
            &:after {
                content: ':';
            }
        }
        .input {
            float: left;
            width: 550px;
        }
    }
}