.group:after {
	/* Update August 2012: http://css-tricks.com/snippets/css/clear-fix */
    /* content: "."; */
    content: "";
    clear: both;
    /* display: block; */
    display:table;
    /* height: 0; */
    /* visibility: hidden; */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
