html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* needed to do full height footer*/
  height: 100%; }
  html > body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* position & min-height needed to do full height footer*/
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-image: url(layout/body-bg-1.png);
    background-position: center;
    background-repeat: repeat-y; }

body > header {
  margin: 0 0 10px 0; }
  body > header > ul {
    width: 960px;
    margin: 0 auto; }
    body > header > ul > li {
      float: left; }
      body > header > ul > li > a {
        color: #bbb;
        text-decoration: none; }
        body > header > ul > li > a > img {
          display: block;
          width: 120px;
          height: 120px; }
        body > header > ul > li > a > .text {
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          font-size: 12px;
          line-height: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          background: #333;
          -webkit-transition: all 250ms;
          -moz-transition: all 250ms;
          -o-transition: all 250ms;
          transition: all 250ms; }
        body > header > ul > li > a:hover > .text {
          color: #9cf;
          background: #666; }
  body > header > .bg-stripe {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -20px;
    background: #333;
    z-index: -1; }

body #main {
  width: 960px;
  margin: 0 auto;
  /* look out for footer height */
  padding-bottom: 80px; }
  body #main > .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 700px;
    margin: 0;
    padding: 0 10px 20px 0; }
    body #main > .content #slider {
      position: relative;
      overflow: hidden; }
      body #main > .content #slider > .frames {
        width: 10000px; }
        body #main > .content #slider > .frames > .frame {
          float: left;
          width: 690px;
          margin-right: 20px; }
    body #main > .content a {
      color: #007acc; }
      body #main > .content a:hover {
        text-decoration: none; }
    body #main > .content h1 {
      margin: 16px 0;
      font-size: 26px;
      color: #007acc; }
    body #main > .content p {
      line-height: 1.2;
      font-size: 16px;
      margin: 1em 0; }
    body #main > .content footer {
      padding-bottom: 20px; }

body #main > aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px; }
  body #main > aside .content {
    margin: 10px 0; }
    body #main > aside .content > ul > li > a {
      display: block;
      margin-bottom: 1px;
      text-decoration: none;
      color: #ddd;
      background-color: #007acc;
      -moz-opacity: 0.6;
      opacity: 0.6;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms; }
      body #main > aside .content > ul > li > a:hover {
        -moz-opacity: 1;
        opacity: 1; }
      body #main > aside .content > ul > li > a.current {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        -moz-opacity: 1;
        opacity: 1;
        background: transparent;
        cursor: default; }
        body #main > aside .content > ul > li > a.current * {
          cursor: default; }
      body #main > aside .content > ul > li > a .arrow {
        display: inline-block;
        border: solid 20px transparent;
        border-right: none;
        border-left: solid 20px #fff;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
      body #main > aside .content > ul > li > a:hover .arrow {
        border-left-color: #fe3; }
      body #main > aside .content > ul > li > a.current .arrow {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        border-left-color: #0c0; }
      body #main > aside .content > ul > li > a .text {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 235px;
        padding: 8px 0 8px 8px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
      body #main > aside .content > ul > li > a:hover .text {
        color: #fff; }
      body #main > aside .content > ul > li > a.current .text {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        color: #333; }

body > footer {
  position: absolute;
  bottom: -2px;
  height: 22px;
  padding: 0;
  width: 100%;
  background: #333;
  z-index: -1; }
  body > footer > .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 20px;
    color: #ddd;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

